* {box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px; 
    background-color: rgb(31, 1, 16);
    height: 700px;
    width: 1152px;
    flex-direction:row;
    margin: 10px;
 }
 .box {  /* det som gäller för alla boxer */
    border: 20px solid #F48C06;
    border-radius: 2%;
    display:flex;
    flex-direction: row;
    gap: 20px; 
    height: 160px;
    width:468px;
    background-color: #F48C06;
    margin: 20px;
  }
  [class*='innerbox'] {
    display: flex;
    border: 5px solid #9D0208;
    background-color: #9D0208;
    border-radius: 5%;
    align-items: center;
    justify-content: center; 
    width: 80px;
    height: 80px;
  } 
  /*alla får samma stil och sedan specialisera de andra*/

  .box1 {
    align-items: flex-end;
  }

  .innerbox1-1, .innerbox1-2, .innerbox1-3 {
    width: 80px;
    height: 80px;
    flex-direction: row;
  }

  .box2 {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .innerbox2-1, .innerbox2-2, .innerbox2-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%; /*bara om det är relative kan boxarna tar utrymmen som behövs*/
    
  }

  .box3 { 
    align-items:center;
    justify-content: flex-end;
  }
  .innerbox3-1, .innerbox3-2, .innerbox3-3 {
    width: 80px;
    height: 80px;
    flex-direction: row;
  }

  .box4 {
    align-items:center;
    justify-content: space-between;
    align-items: baseline;
  }
  .innerbox4-3{
    align-self: last baseline;
    width: 80px;
    height: 80px;
    flex-direction: row;
  }
  .innerbox4-1, .innerbox4-2 {
    width: 80px;
    height: 80px;
    flex-direction: row;
  }
  .box5 {
    /* align-items:baseline; ? */
    display: flex;
    justify-content: space-evenly;
    height: 160px;
    align-items: baseline;
  }
  .innerbox5-1, .innerbox5-2, .innerbox5-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80px;
    color:aliceblue;
    /* text-align: center; */
  }
  .stretch {
    height: 100%;
  }
  .no-stretch {
    height: 50%;
  }


 
  .box6 {
    display: flex;
    align-items:center;
    justify-content:center;
    height: 160px;
  }
  .innerbox6-1, .innerbox6-2, .innerbox6-3 {
    display: flex;
    width: 80px;
    height: 80px;
  }
  .innerbox6-2 {
    align-self: center;
    width:160px
  
  }
  /* .innerbox1 {
    display: flex;
    border: 3px solid #9D0208;
    border-radius: 2%;
    background-color: #9D0208;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
  }
  .innerbox2 {
    border: 3px solid #9D0208;
    border-radius: 2%;
    background-color: #9D0208;
    display: flex;
    width: 80px;
    height: 80px;
  }

  .innerbox3 {
    border: 3px solid #9D0208;
    border-radius: 2%;
    background-color: #9D0208;
    display: flex;
    width: 80px;
    height: 80px;
  }

  .innerbox4 {
    border: 3px solid #9D0208;
    border-radius: 2%;
    background-color: #9D0208;
    display: flex;
    width: 80px;
    height: 80px;
  }
  .innerbox5 {
    border: 3px solid #9D0208;
    border-radius: 2%;
    background-color: #9D0208;
    display: flex;
    width: 80px;
    height: 80px;
  }
  .innerbox6 {
    border: 3px solid #9D0208;
    border-radius: 2%;
    background-color: #9D0208;
    display: flex;
    width: 80px;
    height: 80px;
  } */

  /* lögga alla innerbox i en och specificera det som skiljer sig istället */
